@(form: Form[Option[Account]])(implicit flash: Flash)
<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>

  @helper.form(routes.Application.authenticate) {

    <h1>Sign in</h1>

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    <p>
      <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
    </p>
    <p>
      <input type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
      <button type="submit" id="loginbutton">Login</button>
    </p>

  }

</body>
</html>
